@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* ----------------------------------------- */
div#imgsmoon {display: block;}
/* ----------------------------------------- */

body, html {
    height: 100vh;
    width: 100vw;
}

body {
    background: #cc6600;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: white;
    width: 80vw;
    height: 85vh;
    border-radius: 20px;
    overflow: hidden;
    display: inline-block;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

p.acountmoon {
    
}

label > span {
    background: rgba(255, 166, 0, 0.425);
    height: 6vh;
    width: 6.75vw;
    padding: 5px;
    padding-top: 10px;
    margin: 0;
    text-align: center;
    

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 8px;
}

p.textologin {
    margin-bottom: 15px;
    text-align: justify;
}

form#loginmoon > p > input {
    height: 6vh;
    width: 67vw;
    margin-bottom: 8px;
}

form#loginmoon > p > input.inputsmoon {
    height: 7vh;
    width: 74.6vw;
    margin-bottom: 12px;
    background-color: rgb(255, 166, 0);
    border: 2px solid rgb(88, 24, 8);
    color: rgb(255, 255, 174);
    border-radius: 5px;
    font-size: bolder;
}

form#loginmoon > p > input#forgotmoon {
    background-color: white;
    border: 2px solid rgb(180, 100, 3);
    color: rgb(255, 151, 23);
    font-size: bolder;
}

form#loginmoon > p > input.inputsmoon:hover {
    background-color: rgb(255, 217, 0);
    color: rgb(88, 24, 8);
}

form#loginmoon > p > input#forgotmoon:hover {
    background-color: rgba(255, 255, 0, 0.295);
    border: 2px solid rgb(180, 100, 3);
    color: rgb(255, 151, 23);
    text-decoration: underline;
}

div#formmoon {
    display: block;
    width: 80vw;
    padding: 15px;
}

div#imgsmoon  {
    background: url(../imagens/the-dark-side-landscape.png);
    background-size: cover;
    background-position: center center;
    display: block;
    width: 80vw;  
    height: 30vh; 
}


    